.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        'header'
        'main'
        'footer';
    height: 100vh;
}

.menu-icon {
    position: fixed;
    /* Needs to stay visible for all mobile scrolling */
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    background-color: #DADAE3;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
}

/* Give every child element its grid name */
.header {
    grid-area: header;
    align-items: center;
    justify-content: space-between;
    padding-top:7px;
    background-color: white;
    color:#333;
    height:4rem;
    box-shadow: 0 0 3.5px black;

}

.header > div{
    float:right;
    padding:10px;
    font-family: "Quicksand",sans-serif;
    font-size: 15.5px;
}
.dash-name{
    margin-top:20px;
    text-align: center;

}
.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 280px;
    position: fixed;
    overflow: hidden;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2;
    background-color: #333;
    color:white;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav__list {
    padding: 10px;
    margin-top: 40px;
    list-style-type: none;
}

.sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
}

.sidenav__list-item:hover {
    cursor: pointer;
    color:#fafafa;  
}

.main {
    grid-area: main;
}


.side-post{
    background-color: white;
    color:#333;
    width:120px;
    height:auto;
    font-size: larger;
}

.side-post:hover{
    background-color: #fafafa;
    color:black;
}

/* BACK TO TOP*/


.top-btn {
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 1000px;
    outline: none;
    border:none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 50px;
    z-index: 999;
    transition: .5s;

}

/*ENDS*/



/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {

    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas:
            "sidenav header"
            "sidenav main"
            "sidenav footer";
    }

    .header__search {
        margin-left: 0;
    }

    .sidenav {
        position: relative;
        transform: translateX(0);
    }

    .sidenav__close-icon {
        visibility: hidden;
    }
}
