body {
    font-family: 'Roboto', sans-serif;

}

img {
    max-width: 100%;
}

.avator {
    border-radius: 100px;
    width: 48px;
    margin-right: 15px;
}



.tweet-wrap {
    width: 640px;
    max-height:580px;
    background: #fff;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom:20px;
    border-radius: 3px;
    border: 0.2px solid rgb(206, 204, 204);

}

.tweet-header {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    padding:10px;
}

.tweet-header-info {
    font-weight: bold;
}

.tweet-header-info span {
    color: #657786;
    font-weight: normal;
    margin-left: 5px;
}

.likes-count{
    padding-left:5px;
}

.comment-count{
    padding-left:5px;

}


.tweet-info-counts {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding-bottom:4px;
}

.tweet-info-counts div {
    display: flex;
    margin-right: 20px;
}

.tweet-img{
    width:64    0px;
    background-size: cover;
    height: 23rem;
}

.post-caption{
    margin:10px;
    text-align: inherit;
    font-family:"Quicksand",sans-serif;

}

.read-more{
    color:rgb(98, 98, 243);
    font-weight:bold
}
.read-less{
    color:rgb(98, 98, 248);
    font-weight:bold

}

.like-comment{
    width:25px;
    height:25px;
}


.tweet-info-counts div svg {
    color: #657786;
    margin-right: 10px;
}

@media screen and (max-width:430px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tweet-header {
        flex-direction: column;
    }

    .tweet-header img {
        margin-bottom: 20px;
    }

    .tweet-header-info p {
        margin-bottom: 30px;
    }

    .tweet-img-wrap {
        padding-left: 0;
    }

    .tweet-info-counts {
        display: flex;
        margin-left: 0;
    }

    .tweet-info-counts div {
        margin-right: 10px;
    }
}